

<div class="jumbotron text-center ">
    <div>
        <h1> Welcome to BookStore</h1>  <br />
     
        <button class="btn btn-outline-info">Search Books</button>
    </div>

</div>
<div class="py-5 bg-light">
    <div class="container">
        <h2 class="h2">Top Books</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">This is used to display the short description of book </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-info">View Details</button>
                            </div>
                            <small class="text-muted">Authorname</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">This is used to display the short description of book </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-info">View Details</button>
                            </div>
                            <small class="text-muted">Authorname</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">This is used to display the short description of book </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-info">View Details</button>
                            </div>
                            <small class="text-muted">Authorname</small>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>




</div>

@section scripts{ 
    <script>
        $(document).ready(function () {
            //alert("hi");
        })
    </script>
}